<button class="loginbuttonclick">Login</button>
<div class="landingpagetitle"><%=image_tag("/assets/images/petstagram.png") %></div>
<h2>Instagram For Your Pets</h2>

<div id="landingpagemain">
  <%=image_tag("/assets/images/petstagram-logo.png") %>
  <div class="landingpage">
    <button class="landingpagemainbutton signupbuttonclick">Signup</button>
    <button class="landingpagemainbutton feedbuttonclick">Go To Feed</button>
  </div>
</div>
