<button>Login</button>
<h1>Petstagram</h1>

<div id="landingpagemain">
  <img class="landingpage" src="#">
  <div class="landingpage">
    <button>Signup</button>
    <button>Go To Feed</button>
  </div>
</div>

