<div class='feedheader'>
  <%if current_owner == nil %>
    <button class="loginbuttonclick">Login</button>
    <button class="signupbuttonclick">Signup</button>
  <%else%>
    <button><%= link_to "profile", current_owner, class: :feedbutton %></button>
  <% end %>
  <div class="smallpagetitle pagetitle"><%=image_tag("/assets/images/petstagram.png") %></div>
</div>

<div class="feedpage">
  <% @posts.reverse.each do |post| %>
    <div class="feedposts">
      <%= image_tag(post.image_url.to_s) %>
      <p>"<%= post.comment %>"</p>
    </div>
  <% end %>
</div>
