* {
  margin: 0;
  padding: 0;
  font-family: arial;
  font-size: 12px;
}

body {
  background-color: rgb(200,220,255);
}

.landingpagetitle {
  width: 35%;
  margin: 0 auto;
}

.landingpagetitle img, .smallpagetitle img {
  width: 100%;
  margin-top: 3em;
}

.smallpagetitle {
  width: 20%;
  margin: 0 auto;
}

h2 {
  font-size: 2em;
  text-align: center;
}

#landingpagemain {
  margin-top: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#landingpagemain img {
  width: 25%;
}

div.landingpage {
  display: flex;
  flex-direction: column;
}

button {
  margin: 1em;
  padding: 1em 2em;
  border: none;
  font-size: 2em;
  border-radius: 2em;
  float: right;
}

.landingpagemainbutton {
  margin: 1.5em 0 1.5em 3em;
}
