* {
  margin: 0;
  padding: 0;
  font-family: arial;
  font-size: 12px;
  box-sizing: border-box;
}

body {
  background: linear-gradient(rgb(200,220,255), rgb(255,220,220)) no-repeat center center fixed;
}

.landingpagetitle {
  width: 42em;
  margin: 0 auto;
}

.landingpagetitle img, .smallpagetitle img {
  width: 100%;
  margin-top: 3em;
}

.smallpagetitle {
  width: 18em;
  margin: 0 auto;
}

h2 {
  font-size: 2em;
  text-align: center;
  padding: .5em 0 2em 0;
}

#landingpagemain {
  margin-top: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#landingpagemain img {
  width: 30em;
}

div.landingpage {
  display: flex;
  flex-direction: column;
}

.linkbutton, .logoutbutton, .petpagepostbutton, .weirdbutton {
  margin: 1em;
  padding: 1em 2em;
  font-size: 2em;
  border-radius: 2em;
  text-align: center;
  text-decoration: none;
  color: black;
  background-color: white;
  border: none;
}

.logoutbutton, .linkbutton {
  float: right;
}

.weirdbutton {
  width: 93%;
}

.profileheader .linkbutton, .weirdbutton {
  margin: .5em;
}

.allforms {
  text-align: center;
}

.allforms h1 {
  font-size: 3em;
  padding: 2em 0 1em;
}

.forminput, .formsubmit, .formselect {
  background-color: white;
  padding: .6em 1em;
  border: none;
  font-size: 1.7em;
  margin: .5em auto;
  width: 20em;
  border-radius: .25em;
}

.formsubmit {
  margin: 1em;
  padding: 1em 2em;
  border: none;
  font-size: 2em;
  border-radius: 2em;
  width: 7em;
}

.formselect {
  height: 2.3em;
}

.profilebuttonsright {
  display: flex;
  flex-direction: column;
}

.profileheader {
  display: flex;
  justify-content: space-between;
}

.profiletitles {
  display: flex;
  flex-direction: column;
}

.profileheader h2 {
  font-size: 5em;
  padding: 1.5em 0 0 0;
}

.profilebuttonsright button {
  margin: .5em;
}

.allownerpets {
  text-align: center;
}

.ownerpet, .feedposts {
  display: flex;
  flex-direction: column;
}

.ownerpet, .petprofilepic {
  display: inline-block;
  padding: 1em;
}

.petprofilepic {
  width: 20em;
}

.petpage {
  display: flex;
  justify-content: center;
  margin: 3em;
}

.ownerpet img, .petpage img {
  width: 100%;
  border-radius: 10em;
  border: 1em solid white;
}

.postpage {
  width: 30%;
  border: 1,5em solid white;
  background-color: white;
  margin: 2em;
}

.postpage img {
  width: 100%;
}

.petinfo p {
  margin: 1em;
  font-size: 2em;
}

.feedheader {
  height: 15em;
}

.feedcomments {
  font-size: 1.5em;
  text-align: center;
  padding: .5em;
}

.feedpage {
  display: flex;
  flex-flow: row wrap;
}

.feedposts {
  width: 30%;
  margin: 1.5%;
  border: 1.5em solid white;
  background-color: white;
}

.feedposts img {
  width: 100%;
}

@media only screen and (max-width: 850px) {

  .landingpagetitle {
    width: 77%;
    padding-top: 0;
  }

  .landingpagetitle img {
    margin-top: 0;
  }

  h2 {
    padding-top: .5em;
    font-size: 1.7em;
  }

  #landingpagemain {
    flex-direction: column;
    margin-top: 0;
  }

  #landingpagemain img {
    width: 70%;
    margin-bottom: 1em;
  }

  div.landingpage {
    flex-direction: row;
  }

  .linkbutton, .logoutbutton, .petpagepostbutton, .weirdbutton {
    padding: 1em 2em;
    font-size: 1.7em;
    margin: .5em;
  }

  .smallpagetitle {
    width: 18em;
  }

  .allforms h1 {
    font-size: 2.5em;
  }

  .forminput, .formsubmit, .formselect {
    width: 95%;
  }

  .profiletitles {
    display: none;
  }

  .profileheader {
    flex-direction: column;
  }

  .logoutbutton, .weirdbutton {
    width: 95%;
  }

  .petpage {
    flex-direction: column;
    align-items: center;
  }

  .feedposts {
    width: 45%;
    margin: 2.5%;
  }

  .feedheader .smallpagetitle img {
    margin: 1em auto;
  }

}
